.usernameField {
    margin-top: 40px;
    margin-left: 670px;
    margin-bottom: 10px;
}

.passwordField {
    margin-left: 670px;
}

.firstNameContainer {
    text-align: right;
    align-items: center;
    position: relative;
    display: grid;
    grid-template-columns: 200px 200px;
    grid-gap: 10px;
    padding: 10px;
    margin-left: 450px;
}

.lastNameContainer {
    text-align: right;
    align-items: center;
    position: relative;
    display: grid;
    grid-template-columns: 200px 200px;
    grid-gap: 10px;
    padding: 10px;
    margin-left: 450px;
}

.phoneNumberContainer {
    text-align: right;
    align-items: center;
    position: relative;
    display: grid;
    grid-template-columns: 200px 200px;
    grid-gap: 10px;
    padding: 10px;
    margin-left: 450px;
}

.homeAddressContainer {
    text-align: right;
    align-items: center;
    position: relative;
    display: grid;
    grid-template-columns: 200px 200px;
    grid-gap: 10px;
    padding: 10px;
    margin-left: 450px;
}

.postalCodeContainer {
    text-align: right;
    align-items: center;
    position: relative;
    display: grid;
    grid-template-columns: 200px 200px;
    grid-gap: 10px;
    padding: 10px;
    margin-left: 450px;
}

.cityContainer {
    text-align: right;
    align-items: center;
    position: relative;
    display: grid;
    grid-template-columns: 200px 200px;
    grid-gap: 10px;
    padding: 10px;
    margin-left: 450px;
}

.provinceContainer {
    text-align: right;
    align-items: center;
    position: relative;
    display: grid;
    grid-template-columns: 200px 200px;
    grid-gap: 10px;
    padding: 10px;
    margin-left: 450px;
}

.relationContainer {
    text-align: right;
    align-items: center;
    position: relative;
    display: grid;
    grid-template-columns: 200px 200px;
    grid-gap: 10px;
    padding: 10px;
    margin-left: 450px;
}

.submitButton {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;
}