<body style="background-color:#DCEEF0; padding: 80px;">
  <div class="whiteBg">
    <h1>Student Course Registration</h1>
    <p style="font-family: 'Lato'; font-size: 18px; color: crimson; text-align: center;">Enter the grade & subject to search for available tutoring sessions.</p>
    <p-toast position="top-right"></p-toast>

    <div class="gradeField">
      <div style="text-align: right;"><label for="integeronly">Grade</label></div>
      <div><p-dropdown [options]="gradeOptions" [(ngModel)]="selectedGrade" placeholder="Select a Grade" optionLabel="name" [showClear]="true"></p-dropdown></div>
    </div>
    
    <div class="subjectField">
      <div style="text-align: right;"><label for="integeronly">Subject</label></div>
      <div><p-dropdown [options]="subjectOptions" [(ngModel)]="selectedSubject" placeholder="Select a Subject" optionLabel="name" [showClear]="true"></p-dropdown></div>
    </div>
    
    <div class="submitButton">
      <p-button label="Submit" (onClick)="this.submit()"></p-button>
    </div>

    <ng-container *ngIf="true;"></ng-container>
    
    <ng-container *ngIf="this.results.length != 0;">
      <div class="resultsTableBg">
        <div style="background-color: #DCEEF0; width: max-content; height: inherit; padding: 15px; border-radius: 10px; margin: auto">
            <div style="background-color: #FFFFFF; width: inherit; height: inherit; padding: 25px; border-radius: 10px; margin: auto">
              
              <h2 style="font-family: 'Lato'; font-size: 25px; color:#47525E; margin-left: 10px; text-align: center;">Results</h2>
            
              <div class="studentEnrollField">
                <div style="text-align: right; margin: auto; position: relative;"><label>Select Student to Enroll:</label></div>
                <div style="margin: auto;  position: relative;"><p-dropdown [options]="studentOptions" [(ngModel)]="selectedStudent" placeholder="Select a Student" optionLabel="name" [showClear]="true"></p-dropdown></div>
              </div>

              <table class="resultsTable" style="border:3px solid #47525E; row-gap: 15px;">
                <thead>
                  <tr>
                      <th style="width:80px">Class ID</th>
                      <th style="width:80px">Package Chosen</th>
                      <th style="width:80px">Class Type</th>
                      <th style="width:80px">Service Type</th>
                      <th style="width:80px">Subject</th>
                      <th style="width:80px">Grade</th>
                      <th style="width:100px; padding-right: 10px;">Slot</th>
                  </tr>
              </thead>
              <tbody>
                    <tr *ngFor="let data of results">
                      <td style="width:80px; padding-right: 10px;">{{data.ClassesAvailable_ID}}</td>
                      <td style="width:80px; padding-right: 10px;">{{data.PackageChosen}}</td>
                      <td style="width:80px; padding-right: 10px;">{{data.ServiceForm}}</td>
                      <td style="width:80px; padding-right: 10px;">{{data.TutoringService}}</td>
                      <td style="width:80px; padding-right: 10px;">{{data.Subject}}</td>
                      <td style="width:80px; padding-right: 10px;">{{data.Grade}}</td>
                      <td style="width:100px; padding-right: 10px;">{{data.AvailableSlots}}</td>
                      <p-button label="Register" (onClick)="this.register(data)"></p-button>
                  </tr>
              </tbody>
              </table>
            </div>
        </div>
      </div>
    </ng-container>
  </div>
</body>