h1 {
    font-family: 'Abril Fatface'; 
    font-size: 40px; 
    text-align: center; 
    padding-top: 40px;
    color: #47525E;
}

.whiteBg {
    align-self: center;
    background-color: #FFFFFF;
    width: auto;
    height: auto;
}

.usernameField {
    margin-top: 40px;
    margin-left: 570px;
    margin-bottom: 10px;
}

.passwordField {
    margin-left: 570px;
}

.firstNameContainer {
    text-align: right;
    align-items: center;
    position: relative;
    display: grid;
    grid-template-columns: 200px 200px;
    grid-gap: 10px;
    padding: 10px;
    margin-left: 350px;
}

.lastNameContainer {
    text-align: right;
    align-items: center;
    position: relative;
    display: grid;
    grid-template-columns: 200px 200px;
    grid-gap: 10px;
    padding: 10px;
    margin-left: 350px;
}

.phoneNumberContainer {
    text-align: right;
    align-items: center;
    position: relative;
    display: grid;
    grid-template-columns: 200px 200px;
    grid-gap: 10px;
    padding: 10px;
    margin-left: 350px;
}

.birthDateContainer {
    text-align: right;
    align-items: center;
    position: relative;
    display: grid;
    grid-template-columns: 200px 200px;
    grid-gap: 10px;
    padding: 10px;
    margin-left: 350px;
}

.genderContainer {
    align-items: center;
    position: relative;
    display: grid;
    grid-template-columns: 200px 400px;
    grid-gap: 10px;
    padding: 10px;
    margin-left: 350px;
}

.field-radiobutton {
    align-self: center;
}

.homeAddressContainer {
    text-align: right;
    align-items: center;
    position: relative;
    display: grid;
    grid-template-columns: 200px 200px;
    grid-gap: 10px;
    padding: 10px;
    margin-left: 350px;
}

.postalCodeContainer {
    text-align: right;
    align-items: center;
    position: relative;
    display: grid;
    grid-template-columns: 200px 200px;
    grid-gap: 10px;
    padding: 10px;
    margin-left: 350px;
}

.cityContainer {
    text-align: right;
    align-items: center;
    position: relative;
    display: grid;
    grid-template-columns: 200px 200px;
    grid-gap: 10px;
    padding: 10px;
    margin-left: 350px;
}

.provinceContainer {
    text-align: right;
    align-items: center;
    position: relative;
    display: grid;
    grid-template-columns: 200px 200px;
    grid-gap: 10px;
    padding: 10px;
    margin-left: 350px;
}

.experienceContainer {
    align-items: center;
    position: relative;
    display: grid;
    grid-template-columns: 200px 400px;
    grid-gap: 10px;
    padding: 10px;
    margin-left: 350px;
}

.eligibilityContainer {
    align-items: center;
    position: relative;
    display: grid;
    grid-template-columns: 200px 400px;
    grid-gap: 10px;
    padding: 10px;
    margin-left: 350px;
}

.ageCheckContainer {
    align-items: center;
    position: relative;
    display: grid;
    grid-template-columns: 200px 400px;
    grid-gap: 10px;
    padding: 10px;
    margin-left: 350px;
}

.applicationPosContainer {
    align-items: center;
    position: relative;
    display: grid;
    grid-template-columns: 200px 400px;
    grid-gap: 10px;
    padding: 10px;
    margin-left: 350px;
}

.submitButton {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;
}