:host ::ng-deep .menucus {
    background-color: #DCEEF0;
    color: #FFFFFF;
    font-family: 'Abril Fatface';
    font-size: 26px;
    text-align: center;
    border-radius: 10px;
    border:3px solid #47525E;
    margin-right: 20px;
}

:host ::ng-deep .logoImage {
    width: 30px;
    height: 40px;
    background-image: url("/assets/logo.png");
}