::ng-deep .menucus ul li:nth-child(1) {
    background: #DCEEF0;
    color: #FFFFFF;
    font-family: 'Abril Fatface';
    font-size: 26px;
    text-align: center;
    border-radius: 10px;
    border:3px solid #47525E;
    margin-right: 20px;
}