<h1>Student Registration</h1>
<p-toast position="top-right"></p-toast>
<div>
  <label for="firstName">First Name</label>
  <input type="text" pInputText [(ngModel)]="firstName" inputId="firstName"></div>
<div>
  <label for="lastName">Last Name</label>
  <input type="text" pInputText [(ngModel)]="lastName" inputId="lastName"></div>
<div>
  <label for="email">Email Address</label>
  <input type="text" pInputText [(ngModel)]="email" inputId="email"></div>
<div>
  <label for="birthday">Birth Date</label>
    <p-calendar inputId="basic" [(ngModel)]="birthday"></p-calendar>
<div>
  <label>Gender</label>
  <div class="field-radiobutton">
    <p-radioButton name="sex" value="Male" [(ngModel)]="gender" inputId="gender1"></p-radioButton>
    <label for="gender1">Male</label>
</div>
<div class="field-radiobutton">
    <p-radioButton name="sex" value="Female" [(ngModel)]="gender" inputId="gender2"></p-radioButton>
    <label for="gender2">Female</label>
</div>
<div class="field-radiobutton">
    <p-radioButton name="sex" value="Other" [(ngModel)]="gender" inputId="gender3"></p-radioButton>
    <label for="gender3">Other</label>
</div>
<div>
  <label for="integeronly">Allergies</label>
  <input type="text" pInputText [(ngModel)]="allergies" inputId="province"></div>
<div>
  <label for="integeronly">Grade</label>
  <p-dropdown [options]="gradeOptions" [(ngModel)]="selectedGrade" placeholder="Select a Grade" optionLabel="name" [showClear]="true"></p-dropdown>
</div>
  <p-button label="Next" (click)="this.submitStudent()"></p-button>



