<body style="background-color:#DCEEF0; padding: 80px;">
  <div class="whiteBg">
    <p-toast position="top-right"></p-toast>
    <ng-container *ngIf="this.accountType == 'parent'; else elseTemplate">
      <h1>Student Drop-Off</h1>
      <div class="studentSelectionField">
        <div style="text-align: right;"><label>Select Student to Drop off</label></div>
        <div><p-dropdown [options]="studentOptions" [(ngModel)]="selectedStudent" placeholder="Select a Student" optionLabel="name" [showClear]="true"></p-dropdown></div>
      </div>

      <div class="timeSelectionField">
        <div style="text-align: right;"><label>Select Time to Drop Off</label></div>
        <div><p-dropdown [options]="timeSlots" [(ngModel)]="selectedTime" placeholder="Select Time Slot" optionLabel="name" [showClear]="true"></p-dropdown></div>
      </div>

      <div class="submitButton"><p-button label="Submit" (onClick)="this.submission()"></p-button></div>

    </ng-container>
    <ng-template #elseTemplate>
      <h1>Student Pick-Up Verification</h1>
      <div class="registrationCodeField">
        <div style="text-align: right;"><label for="float-input">Unique Code</label></div>
        <div><input id="float-input" type="text" pInputText [(ngModel)]="verifyCode"></div>
      </div>

      <div class="verifyButton"><p-button label="Verify" (onClick)="this.verification()"></p-button></div>
    </ng-template>
  </div>
</body>
