<h1>Student Pick-Up/Drop-Off Verification</h1>

<div class="field-radiobutton">
  <p-radioButton name="pickup" value="pickup" [(ngModel)]="selected" inputId="pickup"></p-radioButton>
  <label for="pickup">Pick-Up</label>
</div>
<div class="field-radiobutton">
  <p-radioButton name="dropoff" value="dropoff" [(ngModel)]="selected" inputId="dropoff"></p-radioButton>
  <label for="dropoff">Drop-Off</label>
</div>

<ng-container *ngIf="this.selected === 'pickup'; else elseTemplate">
  <div><input type="text" pInputText [(ngModel)]="verifyCode"></div>

  <p-button label="Verify"></p-button>

</ng-container>
<ng-template #elseTemplate>
  <div><input type="text" pInputText [(ngModel)]="verifyCode"></div>
  <div><input type="text" pInputText [(ngModel)]="verifyCode"></div>

<p-dropdown [options]="courses" [(ngModel)]="selectedCourse" placeholder="Select Course" optionLabel="name" [showClear]="true"></p-dropdown>

<p-dropdown [options]="timeSlots" [(ngModel)]="selectedTime" placeholder="Select Time Slot" optionLabel="name" [showClear]="true"></p-dropdown>
<div><p-button label="Submit"></p-button></div>

</ng-template>


