<body style="background-color: #DCEEF0; padding: 80px">
    <div style="background-color: white; padding: 60px"> 
        <div id="headerDiv">
            <h1>Our Packages</h1>
            <p>*Note: The options for in-person and online tutoring is available for all packages. To inquire further, please visit our contact us page.</p>
        </div>
        <div class="oneOnOneParent">
            <div class="oneOnOneImage">
                <img src="assets/oneOnOnePic.png">
            </div>
            <div class="oneOnOneDescription">
                <p>One-on-One</p>
                <p>The One-on-One package is a tutoring service we provide in which the student interacts and learns from the tutor one-on-one. The student is able to recieve the tutor's full attention throughout the academic course.</p>
            </div>
        </div>
        <div class="groupParent">
            <div class="groupImage">
                <img src="assets/groupPic.png">
            </div>
            <div class="groupDescription">
                <p>Group</p>
                <p>The Group package is a tutoring service we provide in which the student interacts and learns from the tutor in a group settin. The student is able to interact in groups of 6-7 students adn one tutor that provides tasks and academic support for the chosen subject.</p>
            </div>
        </div>
        <div class="dropOffParent">
            <div class="dropOffImage">
                <img src="assets/dropOffPic.png">
            </div>
            <div class="dropOffDescription">
                <p>Drop-Off</p>
                <p>The Drop-Off package is a tutoring service we provide that is free of charge in which the student is able to enhance interpersonal skills and other soft skills. This service allows the student to explore various fields of interest through activities and become a better, skilled individual.</p>
            </div>   
        </div>
    </div>  
</body>
