<h1>Our Packages</h1>
<p>*Note: The options for in-person and online tutoring is available for all packages. To inquire furhter, please visit our contact us page.</p>

<h2>One-on-One</h2>
<p>The One-on-One package is a tutoring service we provide in which the student interacts and learns from the tutor one-on-one. The student is able to receive the tutor's full attention throughout the academic course. </p>

<h2>Group</h2>
<p>The Group package is a tutoring service we provide in which the student interacts and learns from the tutor in a group setting. The student is able to interact in groups of 6-7 students and one tutor that provides tasks and academic support for the chosen subject.</p>

<h2>Drop-Off</h2>
<p>The Drop-Off package is a tutoring service we provide that is free of charge in which the student is able to enhance interpersonal skills and other soft skills. This service allows the student to explore various fields of interest thorugh activities and become a better, skilled individual.</p>
