h1 {
    color: #47525e;
    font-family: "Abril Fatface";
    font-size: 65px;
    text-align: center;
}

#headerDiv p:nth-of-type(1) {
    color: #8190A5;
    font-family: "Lato";
    font-size: 23px;
    text-align: center;
    width: 731px;
    align-items: center;
    margin: auto;
}

.oneOnOneDescription p:nth-of-type(1) {
    color: #47525E;
    font-family: "Lato";
    font-size: 45px;
    width: 307px;
    text-align: left;
    margin-left: 178px;
}

.oneOnOneDescription p:nth-of-type(2) {
    color: #8190A5;
    font-family: "Lato";
    font-size: 23px;
    text-align: left;
    width: 1184px;
    margin-left: 105px;
}

.oneOnOneImage img:nth-of-type(1) {
    width: 64px;
    height: 64px;
    margin-left: 135px;
}

.oneOnOneParent {
    display: grid;
    grid-template-columns: 50px 300px;
    column-gap: 10px;
    background-color: #FFFFFF;
}

.oneOnOneImage  {
    color: #fff;
    padding: 20px;
}

.groupDescription p:nth-of-type(1) {
    color: #47525E;
    font-family: "Lato";
    font-size: 45px;
    width: 307px;
    text-align: left;
    margin-left: 178px;
}

.groupDescription p:nth-of-type(2) {
    color: #8190A5;
    font-family: "Lato";
    font-size: 23px;
    text-align: left;
    width: 1184px;
    margin-left: 105px;
}

.groupImage img:nth-of-type(1) {
    width: 64px;
    height: 64px;
    margin-left: 135px;
}

.groupParent {
    display: grid;
    grid-template-columns: 50px 300px;
    column-gap: 10px;
    background-color: #FFFFFF;
}

.groupImage  {
    color: #fff;
    padding: 20px;
}

.dropOffDescription p:nth-of-type(1) {
    color: #47525E;
    font-family: "Lato";
    font-size: 45px;
    width: 307px;
    text-align: left;
    margin-left: 178px;
}

.dropOffDescription p:nth-of-type(2) {
    color: #8190A5;
    font-family: "Lato";
    font-size: 23px;
    text-align: left;
    width: 1184px;
    margin-left: 105px;
}

.dropOffImage img:nth-of-type(1) {
    width: 64px;
    height: 64px;
    margin-left: 135px;
}

.dropOffParent {
    display: grid;
    grid-template-columns: 50px 300px;
    column-gap: 10px;
    background-color: #FFFFFF;
}

.dropOffImage  {
    color: #fff;
    padding: 20px;
}
