h2 {
    color:#47525E;
    font-family: 'Lato';
    font-size: 38px;
    text-align: left;
    width: 200px;
    height: auto;
}

h3 {
    color:#47525E;
    font-family: 'Lato';
    font-size: 36px;
    text-align: left;
}

.whiteBg {
    align-self: center;
    background-color: #FFFFFF;
    width: auto;
    height: auto;
    padding: 40px;
}

.tutorHeaderGroup {
    justify-content: left;
    align-items: left;
    text-align:  left;
    display:flex;
    margin-left: 25px;
}

.tutorHeaderGroup p:nth-of-type(1) {
    color: #47525E;
    font-family: 'Abril Fatface';
    font-weight: bold;
    font-size: 48px;
    text-align: left;
    margin-left: 200px;
}

.tutorHeaderGroup img:nth-of-type(1) {
    width: 96px;
    height: 96px;
    margin-top: 30px;
}

.parentHeaderGroup {
    justify-content: left;
    align-items: left;
    text-align:  left;
    display:flex;
    margin-left: 25px;
}

.parentHeaderGroup p:nth-of-type(1) {
    color: #47525E;
    font-family: 'Abril Fatface';
    font-weight: bold;
    font-size: 48px;
    text-align: left;
    margin-left: 200px;
}

.parentHeaderGroup img:nth-of-type(1) {
    width: 96px;
    height: 96px;
    margin-top: 30px;
}

.parentScheduledTableBg {
    align-self: center;
    background-color: #FFFFFF;
    width: 850px;
    height: auto;
    padding: 10px;
}

.tutorScheduledTableBg {
    align-self: center;
    background-color: #FFFFFF;
    width: 850px;
    height: auto;
    padding: 10px;
}

/*.mainHeaderGroup {
    justify-content: left;
    align-items: left;
    text-align:  left;
    display: grid;
    grid-template-columns: 300px 700px;
    column-gap: 10px;
}

.mainHeaderGroup p:nth-of-type(1) {
    color: #47525E;
    font-family: 'Abril Fatface';
    font-weight: bold;
    font-size: 64px;
    text-align: left;
}

.mainHeaderGroup p:nth-of-type(1) {
    color: #47525E;
    font-weight: bold;
    font-family: 'Abril Fatface';
    font-size: 64px;
    text-align: left;
}*/