<body style="background-color:#DCEEF0; padding: 20px;">
    <div class="whiteBg">
        <div class="headerGroup">
            <h1>Dashboard</h1>
            <img src="assets/groupPic.png">
        </div>

        <p-toast position="top-right"></p-toast>

        <ng-container *ngIf="this.userType == 'parent'; else elseTemplate">
            <h2 >Welcome, {{(this.username)}}!</h2>

            <div class="scheduledTableBg">
                <h3>Scheduled tutoring sessions of my child(ren):</h3>

                <table>
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Subject</th>
                        <th>Grade</th>
                        <th>Service Type</th>
                        <th>Package Type</th>
                        <th>Time slot</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of dashboardStudentData">
                        <td>{{data.FirstName}}</td>
                        <td>{{data.LastName}}</td>
                        <td>{{data.Subject}}</td>
                        <td>{{data.Grade}}</td>
                        <td>{{data.ServiceForm}}</td>
                        <td>{{data.PackageChosen}}</td>
                        <td>{{data.AvailableTimeSlots}}</td>
                    </tr>
                </tbody>
                </table>
            </div>
        </ng-container>
        <ng-template #elseTemplate>
          <h2 >Welcome, {{(this.username)}}!</h2>
        <table>
          <thead>
              <tr>
                  <th>Service Type</th>
                  <th>Subject</th>
                  <th>Delivery Method</th>
                  <th>Time slot</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let data of dashboardStudentData">
                  <td>{{data.TutoringService}}</td>
                  <!-- <td>{{data.Grade}}</td> -->
                  <td>{{data.Subject}}</td>
                  <td>{{data.PackageChosen}}</td>
                  <td>{{data.AvailableSlots}}</td>
              </tr>
          </tbody>
          </table>
        </ng-template>
    </div>
</body>
