h1{
    font-family: "Abril Fatface";
    font-size: 65px;
    color: #47525E;
    padding-top: 40px;
}

h2{
    font-family: "Abril Fatface";
    font-size: 50px;
    color: #47525E;
}

p{
    color: #8190A5;
    font-family: "Lato";
    font-size: 23px;
    line-height: 29px;
    width: 620px;
    text-align: center;
    align-items: center;
    margin: auto;
}

.servicesOfferedBtn {
    background-color: #47525E; 
    border-radius: 5px; 
    width: 225px; 
    height: 57px; 
    align-items: center; 
    color: #FFFFFF; 
    font-family: Lato; 
    font-size: 21px; 
    text-align: center;
    margin: 35px;    
}

.registerTodayBtn {
    background-color: #47525E; 
    border-radius: 5px; 
    width: 225px; 
    height: 57px; 
    align-items: center; 
    color: #FFFFFF; 
    font-family: Lato; 
    font-size: 21px; 
    text-align: center;
}

.contactTodayBtn {
    background-color: #47525E; 
    border-radius: 5px; 
    width: 225px; 
    height: 57px; 
    align-items: center; 
    color: #FFFFFF; 
    font-family: Lato; 
    font-size: 21px; 
    text-align: center;
    margin-top: 20px;
    margin-bottom: 33px;
}

