<body style="background-color:#DCEEF0; text-align: center;">

    <div class="mainHeader">
        <h1>Learn with Confidence</h1>

        <p>Check out our in-person or online tutoring services that will accelerate the student's future with guidance of our accomplished tutors! Use links below to check out our tutoring services or register a student for tutoring sessions</p>

        <button class="btn servicesOfferedBtn">Services Offered</button>
        <button class="btn registerTodayBtn">Register Today!</button>

    </div>

    <div class="secondaryHeader">
        <h2>Make education enjoyable</h2>

        <p>Every student deserves a quality education which is an essential building block of who they become and how they navigate their lives. Often academia is not perceived enjoyable by stuednts, however, tutors at Study Buddies make it their priority to ensure that the student enjoys learning. Contact us today to review our range of packages to make a diffrence in your child's lives. </p>

        <button class="contactTodayBtn">Contact Us Today!</button>
    </div>

    <div class="footer">
        
    </div>


</body>
